*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: grid;
  justify-content: center;
  align-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  inline-size: 1140px;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-inline-size: 711px;
}

.result__video-container {
  position: relative;
  min-inline-size: 711px;
  min-block-size: 386px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  color: #fff;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 51.402px;
  text-decoration: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
}

.search-form__label {
  inline-size: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 34px;
  width: 194px;
  gap: 10px;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.more-button {
  inline-size: 100%;
}

.search-form__submit-button {
  align-self: end;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  outline: none;
  
}

.search-form__pseudo-checkbox:active,
.search-form__pseudo-checkbox:hover {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #000; 
}

.search-form__pseudo-checkbox:focus-visible::before {
  display: block;
  
}

.search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  display: none;
}

.search-form__checkbox {
  appearance: none;
}

.search-form__checkbox:focus {
  outline: none;
  
}

.search-form__checkbox-list:hover {
  cursor: pointer;
  text-decoration: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: block;
  border: -2px solid #000; /* Внутренняя рамка черного цвета -2px */
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.7);
  min-inline-size: 225px;
  min-block-size: 27px;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
}

.search-form__textfield:active{
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

.content__details {
  inline-size: 399px;
  block-size: 534px;
}

.title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-block-end: 26px;
}

.content__accent {
  color: #545050;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__list {
  position: relative;
  max-block-size: 298px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-left: 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
}

.content__video-card-title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  margin-block-start: 6px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}
